.container {
  height: 100%;
  width: 100%;
}
.appContainer {
  animation-name: fadeIn;
  animation-duration: 1s;
  height: 100%;
  width: 100%;
}
.nameBox {
  width: 100%;
  height: 25%;
}
.nameBox h1 {
  color: black;
  font-size: 6vw;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  margin: 0px;
  transition: all 0.7s;
}
.tagLine {
  width: 80%;
  justify-content: space-around;
}
.nameBox h4 {
  color: black;
  margin: 0px;
}
.imageBox {
  width: 100%;
  height: 75%;
  transition: all 0.4s;
}
.socialBar {
  width: 80%;
  height: 20%;
  padding-top: 30px;
}
.socialList {
  display: flex;
  margin: 0px;
  width: 80%;
  justify-content: space-around;
}
.listItem{
  transition: all ease-in-out .1s;
}
.listItem:hover {
  filter: drop-shadow(0px 25px 0.5px rgb(211, 0, 0)) blur(1px);
}
.picFrame {
  height: 99%;
  width: 95%;
  position: relative;
  color: black;
  font-size: 10px;
  font-family: 'Goudy Old Style', sans-serif;
}
.mainImg {
  transition: all ease-in-out 0.2s;
  filter: grayscale(0.9);
}
.mainImg:hover {
  filter: grayscale(0);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 940px) {
  .nameBox h1 {
    font-size: 60px;
    text-align: center;
  }
  .nameBox h4 {
    color: black;
    margin: 0px;
  }
}
@media screen and (max-width: 600px) {
  .nameBox h4 {
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  .imageBox {
    height: 60%;
  }
  .picFrame {
    width: 100%;
    height: 100%;
  }
  .nameBox {
    height: 40%;
  }
  .tagLine {
    height: 10%;
  }
  .tagLine h4 {
    margin-top: 15px;
  }
}
@media screen and (max-height: 700px) {
  .nameBox h1 {
    font-size: 6vh;
  }
  .nameBox h4 {
    font-size: 12px;
  }
}
