.projectContainer {
  animation-name: fadeIn;
  animation-duration: 0.6s;
  font-family: 'Goudy Old Style', sans-serif;
  height: auto;
  width: 100%;
}
.projImage {
  height:auto;
  width:90%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 7px solid black;
  border-right: 7px solid black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
