.carouselContainer {
  height: 100%;
  width: 100%;
}
.buttonContainer {
  display: flex;
  height: 100%;
  width: 15%;
}
.buttons {
  background-color: #e6e6e6;
  height: 5%;
  width: 80%;
  font-size: 1.2vw;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.3);
  transition: all ease-in-out 0.1s;
  font-family: 'Goudy Old Style', sans-serif;
}
.buttons:hover {
  background: transparent;
  border: none;
  color: black;
  box-shadow: none;
  filter: drop-shadow(-2.5px -2.5px 0.5px rgb(211, 0, 0)) blur(1px)
    drop-shadow(-5px -5px 1.5px rgb(211, 0, 0))
    drop-shadow(-6px -6px 3px rgb(211, 0, 0))
    drop-shadow(-7px -7px 6px rgb(211, 0, 0))
    drop-shadow(-8px -8px 6px rgb(211, 0, 0));
}
.buttonLeft {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buttonRight {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .buttons {
    font-size: 14px;
  }
}
